<ol class="post-list">
  {{#each posts as |post|}}
    <li>
      <article class="post">
        <div class="title">
          <h2><a href="post/{{post.id}}">{{post.title}}</a></h2>
          <span>(This is the post)</span>
          <a href="{{post.post_url}}" target="_blank">{{post.post_url}}</a>
          <a href=""></a>
          <p>Posted on {{post.createdAt}}</p>
        </div>

      </article>
    </li>
  {{/each}}
</ol>