<article class="post">
  <div class="title">
    <h1><a href="{{post.post_url}}" target="_blank">{{post.title}}</a></h1>
    <span>({{post.post_url}})</span>
  </div>
  <div class="post-content">{{post.post_content}}</div>
  <div>
    <a href="/post/{{post.id}}">comments</a>
  </div>
</article>

{{!-- {{#if loggedIn}} --}}
<form class="comment-form">
  <div>
    <textarea name="comment-conten"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{!-- {{/if}} --}}

<div class="comments">
  {{#each post.comment}}
    <section class="comment">
      <div>
        {{user.username}}
        on
        {{createdAt}}
      </div>
      <div class="text">
        {{comment_content}}
      </div>
    </section>
  {{/each}}
</div>