<article class="post">
  <div class="title">
    <h1>{{post.title}}</h1>
    <a href="{{post.post_url}}">({{post.post_url}})</a>
  </div>
  <div class="post-content">{{post.post_content}}</div>
  <span>Posted by {{post.user.username}} on {{post.createdAt}}</span>

</article>

{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea name="comment-content"></textarea>
    </div>

    <div>
      <button type="submit">add comment</button>
    </div>
  </form>
{{/if}}
<h5>Comments</h5>
<div class="comments">
  {{#each post.comments}}
    <section class="comment">
      <div>
        {{user.username}}
        on
        {{createdAt}}
      </div>
      <div class="text">
        {{comment_content}}
      </div>
    </section>
  {{/each}}
</div>

<script src="/javascript/comment.js"></script>